<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Producthunt</title>

	<!-- Custom fonts for this theme -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<script src="https://kit.fontawesome.com/7e236b4967.js" crossorigin="anonymous"></script>
	<!-- Theme CSS -->
	<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <link href="{% static 'css/products.css' %}" rel="stylesheet">
	<link href="{% static 'css/toggle-p.css' %}" rel="stylesheet">
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	<link href="{% static 'css/accounts.css' %}" rel="stylesheet">
	<link href="{% static 'css/profile.css' %}" rel="stylesheet">
	<link href="{% static 'css/creators.css' %}" rel="stylesheet">

</head>

<body id="page-top">
	<!-- style="background: url('{% static "drawing.svg" %}'); background-size: cover;" -->
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg fixed-top navbar-fixed-top" id="mainNav">
		<!--  style="background-color: #223127;" -->
		<div class="container-fluid">
			<a class="navbar-brand js-scroll-trigger " href="{% url 'home' %}">
        <img src="{% static 'logo.png' %}" class="w-10 d-inline-block align-top" /><span>roducthunt</span></a>
			<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-white rounded p-2" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
					<li class="nav-item mx-3">
							<a class="nav-link font-weight-bolder js-scroll-trigger navitems p-1 h3" href="{% url 'creators' %}" data-toggle="tooltip" data-placement="top" title="Creators">C</a>
					</li>
          <li class="nav-item mx-3">
            <a class="nav-link rounded js-scroll-trigger navitems" href="{% url 'createp' %}"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
          </li>
					<li class="nav-item dropdown mx-2">
						<a class="nav-link dropdown-toggle rounded js-scroll-trigger navitems" href="" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item disabled" data-toggle="modal" data-target="#userModal" style="cursor: pointer;" ><b>{{ user.username }}</b></a>
					    <a class="dropdown-item" data-toggle="modal" data-target="#userModal" style="cursor: pointer;" >My profile</a>
					    <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
					    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
					  </div>
					</li>
        <form class="" id="logout" action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="" value="" />
        </form>
        {% else %}
					<!-- <li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger navitems" href="{% url 'signup' %}">Sign Up</a>
					</li> -->
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger navitems" href="{% url 'login' %}">Login / Sign up</a>
					</li>

        {% endif %}
        </ul>
			</div>
		</div>
	</nav>

	<!-- Masthead -->
	<header class="masthead" style="padding-top: 5px;" >
		{% if messages %}
        {% for message in messages %}
				<div class="d-flex message justify-content-center mb-3" style="user-select:none;">
							{% if message.tags == 'success'%}
								<div class="rounded bg-light py-1 px-3 border border-success shadow">
	                <p{% if message.tags %} class="{{ message.tags }} h4 text-success"{% endif %}>{{ message }}</p>
								</div>
	            {% elif message.tags == 'info'%}
								<div class="rounded bg-light px-3 py-1 border border-info shadow">
	                <p{% if message.tags %} class="{{ message.tags }} h4 text-info"{% endif %}>{{ message }}</p>
								</div>
	            {% elif message.tags == 'warning'%}
								<div class="rounded bg-light px-3 py-1 border border-warning shadow">
	                <p{% if message.tags %} class="{{ message.tags }} h4 text-warning"{% endif %}>{{ message }}</p>
								</div>
	            {% elif message.tags == 'error'%}
								<div class="rounded bg-light px-3 py-1 border border-danger shadow">
	                <p{% if message.tags %} class="{{ message.tags }} h4 text-danger"{% endif %}>{{ message }}</p>
								</div>
	            {% endif %}
					</div>
        {% endfor %}
    {% endif %}
	</header>

	<section class="" style="min-height:100vh; padding-bottom:20px;">
		<div class="container-fluid">
			{% block content %}
			{% endblock %}
		</div>
	</section>


	<!-- Footer -->
	<!-- <footer class="footer text-center p-0 m-0" style="background-color: #050A30;">
		<div class="container">
		</div>
	</footer> -->

	<!-- Copyright Section -->
	<section class="copyright py-4 text-center text-white" style="background-color:#223127;">
		<div class="container">
			<small>Copyright &copy; Naveen {% now "Y" %}</small>
		</div>
	</section>

	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div class="scroll-to-top d-lg-none position-fixed ">
		<a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>

<!-- user modal -->
{% if user.is_authenticated %}
<div class="producthunt-modal modal fade bg-transparent" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">
			<i class="fas fa-times"></i>
		</span>
	</button>
	<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
		<div class="modal-content">
				<div class="card" >
						<img class="card-img-top img-fluid" src="{{ user.profile.image.url }}" style="height: 175px; width: 175px">
					<div class="card-body">
						<h3 class="card-title">{{ user.username }}</h3>
						<p class="h4 font-weight-bolder text-capitalize">{{ user.first_name }}  {{ user.last_name }}</p>
						<p class="h6 text-muted">{{ user.profile.birth_date }}</p>
						<p class="card-text">{{ user.profile.bio }}</p>
						<!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
						<div class="">
								<a class="btn btn-sm btn-outline-primary mx-1 font-weight-bolder" href="{% url 'chgpassword' user.id %}">change password</a>
								<a class="btn btn-sm btn-outline-primary mx-1 font-weight-bolder" href="{% url 'chgprofile' user.id %}">update profile</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endif %}

	<!-- Bootstrap core JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/togglescript.js' %}"></script>
	<script src="{% static 'js/home.js' %}"></script>
	<script src="{% static 'js/commentjs.js' %}"></script>
	<script src="{% static 'js/products.js' %}"></script>
	<script src="{% static 'js/accounts.js' %}"></script>
	<!-- Contact Form JavaScript -->
	<!-- <script src="{% static 'js/contact_me.js' %}"></script> -->
	<!-- <script src="{% static 'js/home.js' %}"></script> -->

</body>

</html>
