{% extends 'base.html' %}

{% block content %}
<div class="container container-cp">
  <div class="card-cp"></div>
  <div class="card-cp">
    <h1 class="title text-center">Update &nbsp Profile</h1>
    <div class="user-info">
      <h2 class="title-username">{{ user.first_name }}  {{ user.last_name }}</h2>
      <p class="h5 text-muted mb-3">{{ user.profile.birth_date }}</p>
      <p class="h4 mb-4">{{ user.email }}</p>
    </div>

    <form class="" action="{% url 'chgprofile' user.id %}" enctype="multipart/form-data" method="POST" id="chgprfl" autocomplete="off">
      {% csrf_token %}
      <div class="input-container-cp image">
        <label for="photo">
          <i class="fas fa-plus"></i>
        </label>
        <input class="form-control font-weight-bold bg-transparent" type="file" name="photo" id="photo" />
      </div>
      <div class="input-container-cp">
        <input type="text" name="username" id="username" required="required" value="{{ user.username }}"/>
        <label for="username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container-cp">
        <input type="email" name="email" id="email" required="required" value="{{ user.email }}"/>
        <label for="Email">Email</label>
        <div class="bar"></div>
      </div>
      <div class="input-container-cp">
        <textarea type="text" name="about" id="about" required="required">{{ user.profile.bio }}</textarea>
        <label for="about">bio</label>
        <div class="bar"></div>
      </div>
      <div class="input-container-cp">
        <input type="password" name="password" id="password" required="required" />
        <label for="password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container-cp pt-4">
        <button>Save</button>
      </div>
    </form>
  </div>
  <div class="card-img">
    <div class="parent">
      <img class="" src="{{ user.profile.image.url }}" id="userimg" alt="" />
    </div>
  </div>
</div>

{% endblock %}
