{% extends 'base.html' %}

{% block content %}
<div class="">
  <p class=" display-4 font-weight-bolder text-center mb-3">Change password</p>
  <div class="row border mx-3 pt-4">
      <!-- <form name="sentMessage" id="contactForm" role="form" autocomplete="off" action="{% url 'home' %}" onsubmit="return validation()" method="post"> -->
        <div class="col-3">
          <div class="">
            <img class="img-fluid rounded-circle" style="height: 220px; width: 220px" src="{{ user.profile.image.url }}" alt="" />
          </div>
          <br>
          <p class="h5 help-block text-danger font-weight-bolder" id = "reqUsername">{% if error %}
            {{error}}
          {% endif %}</p>
        </div>
        <div class="col-9 pt-2">
          <p class="h1 font-weight-bolder text-capitalize">{{ user.username }}</p>
          <p class="h4 font-weight-bolder text-capitalize">{{ user.first_name }}  {{ user.last_name }}</p>
          <p class="h6 text-muted">DOB: {{ user.profile.birth_date }}</p>
          <p class="h5 text-muted">{{ user.email }}</p>
          <p class="h5 text-muted">{{ user.profile.bio }}</p>
          <hr>
          <!-- autocomplete="off" -->
          <div class="border p-2 rounded">
          <form class="" action="{% url 'chgpassword' user.id %}" enctype="multipart/form-data" method="POST" id="chgpsswrd" autocomplete="off">
            {% csrf_token %}
            <!-- <div class="row">
              <div class="col-3">
                <p class="h4 pt-3">Password:</p>
              </div> -->
              <div class="col">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <!-- <label>Username</label> -->
                    <input class="form-control" type="password" name="oldpassword" id="oldpassword" placeholder="enter old password" />
                    <!-- <p class="help-block text-danger" id = "reqUsername"></p> -->
                  </div>
                </div>
              </div>
            <!-- </div> -->
            <br>
            <!-- <div class="row">
              <div class="col-3">
                <p class="h4 pt-3">New Password:</p>
              </div> -->
              <div class="col">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <!-- <label>Username</label> -->
                    <input class="form-control" type="password" name="newpassword" id="newpassword" placeholder="enter new password" />
                    <!-- <p class="help-block text-danger" id = "reqUsername"></p> -->
                  </div>
                </div>
              </div>
            <!-- </div> -->
            <br>
            <div class="form-group text-right">
              <input type="submit" class="btn md-btn btn-outline-dark font-weight-bold btn-md" value="Save"></input>
            </div>
          </form>
          </div>
          <br>
        </div>
        <br>
  </div>
  {% endblock %}
