{% extends 'base.html' %}

{% block content %}
<div class="container container-cp">
  <div class="card-cp"></div>
  <div class="card-cp">
    <h1 class="title text-center">Change Password</h1>
    <div class="user-info">
      <h2 class="title-username">{{ user.first_name }}  {{ user.last_name }}<span>(</span>{{ user.username }}<span>)</span></h2>
      <p class="h4 text-muted mb-3">{{ user.profile.birth_date }}</p>
      <p class="h3 mb-4">{{ user.email }}</p>
      <div class="user-bio">
        <p class="h5">{{ user.profile.bio }}</p>
      </div>
    </div>
    <form class="" action="{% url 'chgpassword' user.id %}" enctype="multipart/form-data" method="POST" id="chgpsswrd" autocomplete="off">
    {% csrf_token %}
    <div class="input-container-cp">
      <div class="row">
        <div class="col">
          <input type="password" name="oldpassword" id="oldpassword" required="required" />
          <label for="password">Password</label>
          <div class="bar"></div>
        </div>
        <div class="col">
          <input type="password" name="newpassword" id="newpassword" required="required" />
          <label for="cpassword">Repeat Password</label>
          <div class="bar"></div>
        </div>
      </div>

    </div>
    <div class="button-container-cp pt-4">
      <button>change password</button>
      <!-- <button><span>Sign in</span></button> -->
    </div>
    </form>
  </div>
  <div class="card-img">
    <img class="" src="{{ user.profile.image.url }}" alt="" />
  </div>
</div>

{% endblock %}
