{% extends 'base.html' %}

{% block content %}
<div class="">
  <p class=" display-4 font-weight-bolder text-center mb-3">My Profile</p>

  <!-- <form class="" action="{% url 'signup' %}" enctype="multipart/form-data" method="POST"> -->
  {% csrf_token %}
  <div class="row border mx-3 pt-4">
				<div class="col-lg-11 mx-2">
					<!-- <form name="sentMessage" id="contactForm" role="form" autocomplete="off" action="{% url 'home' %}" onsubmit="return validation()" method="post"> -->
						{% csrf_token %}
            <div class="row">
              <div class="col-3">
                <div class="">
                  <img class="img-fluid rounded-circle" style="height: 220px; width: 220px" src="{{ user.profile.image.url }}" alt="" />
                </div>
                <div class="file btn btn-sm btn-primary text-center rounded-circle " style="position: relative; overflow: hidden;">
  							<i class="fa fa-upload" aria-hidden="true"></i>
  							<input type="file" name="file" style="position: absolute; font-size: 50px; opacity: 0; right: 0; top: 0"/>
                </div>
              </div>
              <div class="col-9 pt-2">
    								<p class="h1 font-weight-bolder text-capitalize">{{ user.first_name }}  {{ user.last_name }}</p>
    								<p class="h6 text-muted">DOB: {{ user.profile.birth_date }}</p>
                    <p class="h5 text-muted">{{ user.email }}</p>
                    <hr>
                    <div class="row">
                      <div class="col-3">
                        <p class="h5 pt-2">Username:</p>
                      </div>
                      <div class="col-9">
                        <p class="h5 pt-2">{{ user.username }}</p>
                      </div>
        						 </div>
                    <div class="row">
                      <div class="col-3">
                        <p class="h5 pt-2">About:</p>
                      </div>
                      <div class="col-9">
                        <p class="h5 pt-2">{{ user.profile.bio }}</p>
                      </div>
        						 </div>
              </div>
						 </div>
            <br>
						<br>
				</div>

{% endblock %}
