{% extends 'base.html' %}

{% block content %}
<div class="">
  <h1 class="text-center">Sign Up!</h1>

  <form class="" action="{% url 'signup' %}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <div class="row">
				<div class="col-lg-8 mx-auto">
					<!-- <form name="sentMessage" id="contactForm" role="form" autocomplete="off" action="{% url 'home' %}" onsubmit="return validation()" method="post"> -->
						<!-- {% csrf_token %} -->
						<div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<label>Username</label>
								<input class="form-control font-weight-bold bg-transparent" type="text" name="username" id="username" placeholder="Username" />
								<p class="help-block text-danger" id = "reqUsername"></p>
							</div>
						</div>
            <div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<label>First name</label>
								<input class="form-control font-weight-bold bg-transparent" type="text" name="fname" id="Fname" placeholder="First name" />
								<p class="help-block text-danger" id = "fn"></p>
							</div>
						</div>
            <div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<label>Last name</label>
								<input class="form-control font-weight-bold bg-transparent" type="text" name="lname" id="Lname" placeholder="Last name" />
								<p class="help-block text-danger" id = "ln"></p>
							</div>
						</div>
            <br>
            <div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<!-- <label>DOB</label> -->
								<p class="h5 text-secondary pb-2 text-muted">Date of Birth:</p><input class="form-control font-weight-bold bg-transparent" type="date" name="dob" id="dob" />
								<!-- <p class="help-block text-danger" id = "dob"></p> -->
							</div>
						</div>
            <div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<label>Email</label>
								<input class="form-control font-weight-bold bg-transparent" type="text" name="email" id="Email" placeholder="Email" />
								<p class="help-block text-danger" id = "email"></p>
							</div>
						</div>
            <div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<label>About</label>
								<input class="form-control font-weight-bold bg-transparent" type="text" name="about" id="about" placeholder="About" />
								<p class="help-block text-danger" id = "Abt"></p>
							</div>
						</div>
            <br>
            <div class="control-group">
              <!-- <label for="Icon">Profile photo</label> -->
 							<div class="form-group floating-label-form-group controls mb-0">
 								<p class="h5 text-secondary pb-2 text-muted">Profile photo:</p><input class="form-control font-weight-bold bg-transparent" type="file" name="pphoto" id="pphoto" placeholder="Profile photo" />
 								<!-- <p class="help-block text-danger" id = "Pr_summary"></p> -->
 							</div>
 						</div>
						<div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<label>Password</label>
								<input class="form-control font-weight-bold bg-transparent" name="password" id="password" placeholder="Password" />
								<p class="help-block text-danger" id = "Password"></p>
							</div>
						</div>
						<div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<label>Confirm Password</label>
								<input class="form-control font-weight-bold bg-transparent" name="cpassword" id="cpassword" placeholder="Confirm Password" ></input>
								<p class="help-block text-danger" id = "ConfirmPassword"></p>
							</div>
						</div>
						<br>
            <p class="h5 help-block text-danger font-weight-bolder" id = "reqUsername">{% if error %}
              {{error}}
            {% endif %}</p>
						<!-- <div id="success"></div> -->
						<div class="form-group text-center">
							<input type="submit" class="btn md-btn btn-outline-dark font-weight-bold btn-lg" value="Sign Up"></input>
						</div>
					</form>
				</div>
			<!-- </div> -->
  <!-- Username:
  <input type="text" name="username" value="username">
  </form>
</div> -->


{% endblock %}
