input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input--style-4 {
  line-height: 50px;
  background: #fafafa !important;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #666;
}

.input--style-4:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666;
  opacity: 1;
}

.input--style-4::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}

.input--style-4:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

.input--style-4:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}


.b-button {
  color: black;
  background:transparent;
  border: 2px solid #3F3E3E;
  padding: 0.15rem 0.5rem 0.15rem 0.5rem;
  position:relative;
  display:inline-block;
  transition:all 0.3s ease-in-out;
}
.b-button:before, .b-button:after {
  content:'';
  display:block;
  position:absolute;
  border-color: #3F3E3E;
  box-sizing:border-box;
  border-style:solid;
  width:2em;
  height:2.5em;
  transition:all 0.3s ease-in-out
}
.b-button:before {
  top:-6px;
  left:-6px;
  border-width:2px 0 0 2px;
}
.b-button:after {
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}
.b-button:hover:before, .b-button:hover:after {
  width:calc(100% + 12px);
  height:calc(100% - 100%);
  border-color:#fff;
}
.b-button:hover {
  color:#353535;
  background-color: #fff;
  text-decoration: none;
  font-weight: bolder;
  border-color: #fff;
}
