{% extends 'base.html' %}

{% block content %}
<div class="text-center">
  <h1 class="">Reset Password</h1>

  <form class="" method="POST">
  {% csrf_token %}
  <div class="row">
				<div class="col-lg-8 mx-auto">
						<div class="control-group">
							<div class="form-group floating-label-form-group controls mb-0 pb-2">
								<label>Email</label>
								<input class="form-control font-weight-bold bg-transparent" type="email" name="email" id="email" placeholder="Enter Email" />
								<p class="help-block text-danger" id = "Email"></p>
							</div>
						<!-- <div id="success"></div> -->
            <br>
						<div class="form-group">
							<input type="submit" class="btn btn-outline-success font-weight-bold btn-lg" value="Submit"></input>
						</div>
          </div>
      </div>
  </div>
	</form>
	</div>


{% endblock %}
