{% extends 'base.html' %}

{% block content %}


 <div class="">
   <h2 class="text-center">Create a Product Post</h2>

   <form class="" action="{% url 'createp' %}" enctype="multipart/form-data" method="POST">
   {% csrf_token %}
   <div class="row">
 				<div class="col-lg-10 mx-auto">


 						<div class="control-group">
 							<div class="form-group floating-label-form-group controls mb-0">
 								<label>Title</label>
 								<input class="form-control font-weight-bold bg-transparent" type="text" name="title" id="Title" placeholder="Title" />
 								<!-- <p class="help-block text-danger" id = "reqTitle"></p> -->
 							</div>
 						</div>

 						<div class="control-group">
 							<div class="form-group floating-label-form-group controls mb-0">
 								<label>Product description</label>
 								<textarea  class="form-control font-weight-bold bg-transparent" name="p_descrpt" id="P_descrpt" placeholder="Product description" rows="3" maxlength="140" ></textarea>
 								<!-- <p class="help-block text-danger" id = "Pr_summary"></p> -->
 							</div>
 						</div>

            <div class="control-group">
 							<div class="form-group floating-label-form-group controls mb-0">
 								<label>Product summary</label>
 								<textarea  class="form-control font-weight-bold bg-transparent" name="p_summary" id="P_summary" placeholder="Product summary" rows="3" ></textarea>
 								<!-- <p class="help-block text-danger" id = "Pr_summary"></p> -->
 							</div>
 						</div>

            <div class="control-group">
 							<div class="form-group floating-label-form-group controls mb-0">
 								<label>Product url</label>
 								<textarea  class="form-control font-weight-bold bg-transparent" name="url" id="url" placeholder="URL" rows="2" ></textarea>
 								<!-- <p class="help-block text-danger" id = "Pr_summary"></p> -->
 							</div>
 						</div>
            <br>
            <div class="control-group">
              <!-- <label for="Icon">Icon</label> -->
 							<div class="form-group floating-label-form-group controls mb-0">
 								<p class="h5 text-secondary pb-2">Icon:</p><input class="form-control font-weight-bold bg-transparent" type="file" name="Icon" id="Icon" placeholder="Icon" />
 								<!-- <p class="help-block text-danger" id = "Pr_summary"></p> -->
 							</div>
 						</div>
            <br>
            <div class="control-group">
 							<div class="form-group floating-label-form-group controls mb-0">
 								<!-- <label>Product summary</label> -->
 								<p class="h5 text-secondary pb-2">Image:</p><input class="form-control font-weight-bold bg-transparent" type="file" name="Image" id="Image" placeholder="Image" />
 								<!-- <p class="help-block text-danger" id = "Pr_summary"></p> -->
 							</div>
 						</div>
 						<br>
 						<!-- <div id="success"></div> -->
 						<div class="form-group text-center">
 							<input type="submit" class="btn md-btn btn-outline-dark font-weight-bold btn-lg" value="Add product"></input>
 						</div>
        </div>
      </div>
  	</form>
</div>
 			<!-- </div> -->
   <!-- Username:
   <input type="text" name="username" value="username">
   </form>
 </div> -->

{% endblock %}
