{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}

<div class="row no-gutters justify-content-around ">

<div class="col-8 border bg-white p-3 no-gutters shadow-lg rounded">
{% for product in products.all %}

  <div class="row m-auto">
    <div class="col-1 px-0" data-toggle="modal" data-target="#producthuntModal{{forloop.counter}}" style="cursor: pointer;">
      <!--  onclick="window.location='{% url 'detailp' product.id %}';" -->
      <img class="img-fluid w-100" src="{{ product.icon.url }}" alt="" />
    </div>
    <div class="col-8">
      <a class="h3 text-custom text-capitalize" data-toggle="modal" data-target="#producthuntModal{{forloop.counter}}" style="cursor: pointer;">{{ product.title }}</a>
      <!-- href="{% url 'detailp' product.id %}" -->
      <p class="font-weight-light m-0 h5 font-weight-normal" style="user-select:none;">{{ product.product_description }}</p>
    </div>
    <div class="col-3 my-auto">
      {% with isfound=False %}
      {% for vote in votes.all %}
      {% if user.id == vote.userID.id and product.id == vote.productID.id %}
        <form class="" id="upvotingproduct{{ product.id }}" method="POST">
          {% csrf_token %}
          <button class="btn btn-sm btn-outline-dark btn-block font-weight-bolder h5" id="upbutton{{product.id}}" onclick="upvoteproduct({{ product.id }})" type="submit">
          <p class="d-inline" id="product{{ product.id }}">upvoted &nbsp {{product.votes_total}}</p></button>
        </form>
        {% update_variable True as isfound %}
      {% else %}
        {% if forloop.counter == votes.all.count and isfound == False %}
          <form class="" id="upvotingproduct{{ product.id }}" method="POST">
            {% csrf_token %}
            <button class="btn btn-sm btn-outline-custom btn-block font-weight-bolder h5" id="upbutton{{product.id}}" onclick="upvoteproduct({{ product.id }})" type="submit">
            <p class="d-inline" id="product{{ product.id }}">upvote &nbsp &nbsp {{product.votes_total}}</p></button>
          </form>
        {% endif %}
      {% endif %}
      {% endfor %}
      {% endwith %}
    </div>
  </div>
  <br>

{% endfor %}
</div>
{% if user.is_authenticated %}
<!-- <hr class="mx-0" style="border: none; border-left: 2.2px solid black; height: {{ products.count|multiply:'12' }}vh; width: 1px;"> -->
<div class="col-3 border bg-white p-2 shadow-lg rounded">
  <div class="m-2">
    <div class="mb-3">
      <a class="h4" style="color:#223127;" href="{% url 'user_created_posts' user.id %}">Posts that you have created</a>
    </div>
    {% for product in products.all %}
      {% if product.hunter.username == user.username %}
        <div class="row m-auto">
          <div class="col-3 px-0" data-toggle="modal" data-target="#producthuntModal{{forloop.counter}}" style="cursor: pointer;">
            <!--  onclick="window.location='{% url 'detailp' product.id %}';" -->
            <img class="img-fluid w-100" src="{{ product.icon.url }}" alt="" />
          </div>
          <div class="col-4 px-auto" style="cursor: pointer;">
            <a class="h4 text-custom text-capitalize " data-toggle="modal" data-target="#producthuntModal{{forloop.counter}}">{{ product.title }}</a>
            <!-- href="{% url 'detailp' product.id %}" -->
          </div>
        </div>
        <br>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>
{% else %}
<hr style="border: none; border-left: 2px solid black; height: {{ products.count|multiply:'10' }}vh; width: 1px;">
<div class="col-3 p-0">
  <div class="m-2">
    <div class="mb-3">
      <a class="h4" href="#">The posts with most upvotes</a>
    </div>
      <!-- <p>{{ product }}</p> -->
      {% for product in products.all|max_lst %}
        <div class="row m-auto">
          <div class="col-3 px-0" data-toggle="modal" data-target="#producthuntModal{{forloop.counter}}" style="cursor: pointer;">
            <!--  onclick="window.location='{% url 'detailp' product.id %}';" -->
            <img class="img-fluid w-100" src="{{ product.icon.url }}" alt="" />
          </div>
          <div class="col-9 px-auto">
            <a class="h6 text-info text-capitalize" data-toggle="modal" data-target="#producthuntModal{{forloop.counter}}">{{ product.title }}</a>
            <!-- href="{% url 'detailp' product.id %}" -->
          </div>
        </div>
        <br>
      {% endfor %}
  </div>
</div>
</div>
{% endif %}



{% for product in products.all %}
		<!-- Portfolio Modals -->
		<div class="portfolio-modal modal fade bg-transparent" id="producthuntModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="producthuntModal{{forloop.counter}}Label" aria-hidden="true">
      <button type="button" class="close bg-light px-2 rounded-circle" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
			<div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-body py-4">
            <div class="container-fluid">
              <div class="row pb-2 ">
                <div class="col-1 px-0">
                  <img class="img-fluid" src="{{ product.icon.url }}" alt="" />
                </div>
                <div class="col-11">
                  <a class="h2 text-capitalize" href="{{ product.url }}">{{ product.title }}</a>
                  <p class="m-0 h5 font-weight-normal">{{ product.product_description }}</p>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col-9">
                  <div class="row mb-3">
                      <img class="img-fluid w-100 h-100" src="{{ product.image.url }}" alt="" />
                  </div>
                  <hr>
                  <div class="row">
                    <p class="h5 font-weight-normal">{{ product.product_summary|striptags }}</p>
                    <p class="text-muted h7 font-weight-normal ml-auto"><i class="fa fa-calendar-check" aria-hidden="true"></i>{{ product.pub_date_pretty }}</p>
                  </div>
                </div>
                <div class="col-3 pl-4 ">
                  <div class="row mx-2">
                    <a class="btn btn-lg btn-outline-danger btn-block font-weight-bolder" href="javascript:{document.getElementById('upvoting{{ product.id }}').submit()}">
                    <i class="fa fa-caret-up fa-lg" aria-hidden="true"></i>upvote &nbsp &nbsp &nbsp {{product.votes_total}}</a>
                  </div>
                  <br>
                  <hr>
                  <div class="row-fluid p-1 mx-2">
                    <!-- <p class="d-block h6 text-muted">Hunter</p>
                    <p class="d-block h4">{{ product.hunter.username }}</p> -->
                    <p class="d-block h6"><span class="text-muted">Hunter</span>
                    <br><span class="h4">{{ product.hunter.username }}</span></p>
                  </div>
                </div>
              </div>
            </div>

            <form class="" id="upvoting{{ product.id }}" action="{% url 'upvote' product.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="" value="">
            </form>

					</div>
				</div>
			</div>
		</div>
		{% endfor %}


{% endblock %}
